<div class="login-wrap-all">
  <div class="login-wrap">
    <div class="login-html">
      <mat-tab-group (selectedIndexChange)="clearForm($event)" [(selectedIndex)]="selectedIndex">
        <mat-tab label="Zaloguj">
          <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <formly-form [fields]="loginFields" [form]="loginForm">
              <div class="group">
                <button type="submit" class="button" mat-raised-button color="primary" [disabled]="!loginForm.valid">
                  Zaloguj
                </button>
                <div *ngIf="errorLogin$ | async as errorLogin">
                  <div class="flex-p">
                    <br>
                    <span> Błedne haslo lub login! </span>
                  </div>
                </div>
              </div>
            </formly-form>
          </form>
        </mat-tab>
        <mat-tab label="Zarejestruj">
          <form [formGroup]="rejestrationForm" (ngSubmit)="register()">
            <formly-form [fields]="registerFields" [form]="rejestrationForm">
              <div class="group">
                <button type="submit" class="button" mat-raised-button color="primary"
                  [disabled]="!rejestrationForm.valid">
                  Zarejestruj
                </button>
                <div *ngIf="errorRegister$ | async as errorRegister">
                  <div class="flex-p">
                    <br>
                    <span> Niestety coś poszło nie tak. </span>
                  </div>
                </div>
              </div>
            </formly-form>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>