<div *ngIf="users$ | async as users">
  <div class="flex-p">
    <table mat-table [dataSource]="users.content" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef> Zmien dane </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="update(element)" mat-icon-button color="primary">
            <mat-icon>update</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Usun </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="delete(element.id)" mat-icon-button color="warn">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
    <div>
      <div style="display:inline">
        <button (click)="openModal()" type="submit" class="button" mat-raised-button color="primary">
          Dodaj urzytkownika
        </button>
      </div>
      <div style="display:inline">
        <mat-paginator (page)="changePage($event)" [length]="users.totalElements" [pageSize]="users.size"
          [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>