<div *ngIf="clients$ | async as clients">
  <div class="flex-p">
    <mat-form-field style="width: 100%">
      <input matInput [matAutocomplete]="auto" (keyup)="search($event.target.value)"
        placeholder="{{ 'panel.client.list.search' | translate }}" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let text of autocomplete$ | async" [value]="text">
          <span>{{ text }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <table mat-table [dataSource]="clients.content" class="mat-elevation-z8" multiTemplateDataRows>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          {{ "panel.client.list.no" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          {{ "panel.client.list.name" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>
          {{ "panel.client.list.email" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef>
          {{ "panel.client.list.update" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="update(element)" mat-icon-button color="primary">
            <mat-icon>update</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="addVehicle">
        <mat-header-cell *matHeaderCellDef>
          {{ "panel.client.list.vehicle.add" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="addVehicle(null, element.id)" mat-icon-button color="primary">
            <mat-icon>directions_car</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>
          {{ "panel.client.list.delete" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="delete(element.id)" mat-icon-button color="warn">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let detail">
          <table mat-table [style.border]="'3px solid blue'" [dataSource]="detail.vehicles" class="mat-elevation-z8"
            multiTemplateDataRows>
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> {{ "vehicle.list.number" | translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.id }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="brand">
              <mat-header-cell *matHeaderCellDef> {{ "vehicle.list.make" | translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.brand }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="model">
              <mat-header-cell *matHeaderCellDef> {{ "vehicle.list.model" | translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.model }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="numberPlate">
              <mat-header-cell *matHeaderCellDef> {{ "vehicle.list.numberPlate" | translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.numberPlate }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="update">
              <mat-header-cell *matHeaderCellDef>{{ "vehicle.list.change" | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="updateVehicle(element)" mat-icon-button color="primary">
                  <mat-icon>update</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef> {{ "vehicle.list.delete" | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="deleteVehicle(element.id)" mat-icon-button color="primary">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="details">
              <mat-header-cell *matHeaderCellDef>{{ "vehicle.list.details" | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="updateVehicleDetails(element)" mat-icon-button color="primary">
                  <mat-icon>update</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="notification">
              <mat-header-cell *matHeaderCellDef>{{ "vehicle.list.checkUp" | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-slide-toggle [checked]="element.notification" (toggleChange)="changeNotification(element.id)">
                  <!-- {{ element.notification }} -->
                </mat-slide-toggle>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="service">
              <mat-header-cell *matHeaderCellDef>{{ "vehicle.list.history" | translate }}</mat-header-cell>
              <mat-cell fxFlex="100" *matCellDef="let element">
                <button (click)="showHistory(element)" mat-icon-button color="primary">
                  <mat-icon>update</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="history">
              <mat-header-cell *matHeaderCellDef>{{ "vehicle.list.download" | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="downloadVehicleHistory(element.id)" mat-icon-button color="primary">
                  <mat-icon>D</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedVehiclesColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedVehiclesColumns">
            </mat-row>
          </table>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns" matRipple class="element-row"
        [class.expanded]="expandedElement == row" (click)="
          expandedElement === row
            ? (expandedElement = null)
            : (expandedElement = row)
        "></mat-row>
      <mat-row *matRowDef="
          let row;
          columns: ['expandedDetail'];
          when: isExpansionDetailRow
        " [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden">
      </mat-row>
    </table>
    <div>
      <div style="display:inline">
        <button (click)="openModal()" type="submit" class="button" mat-raised-button color="primary">
          {{"client.add.button" | translate}}
        </button>
      </div>
      <div style="display:inline">
        <mat-paginator (page)="changePage($event)" [length]="clients.totalElements" [pageSize]="clients.size"
          [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>