<form [formGroup]="userForm" (ngSubmit)="submit()">
    <formly-form [fields]="userFields" [form]="userForm" [model]="model">
        <div class="group">
            <button id="saveUser" type="submit" class="button" mat-raised-button color="primary"
                [disabled]="!userForm.valid">
                Dodaj
            </button>
        </div>
    </formly-form>
</form>
<div *ngIf="errorMessage$ | async as errorMessage">
    <span translate [translateParams]="{value: model.email}">{{errorMessage}}</span>
</div>