<form [formGroup]="userUpdateForm" (ngSubmit)="updateUser()">
    <formly-form [fields]="userUpdateFields" [form]="userUpdateForm" [model]="userTemp">
        <div class="group">
            <button id="saveUser" type="submit" class="button" mat-raised-button color="primary"
                [disabled]="!userUpdateForm.valid">
                Dodaj
            </button>
        </div>
    </formly-form>
</form>
<div *ngIf="errorMessage$ | async as errorMessage">
    <span translate [translateParams]="{value: model.email}">{{errorMessage}}</span>
</div>