<form [formGroup]="vehicleForm" (ngSubmit)="submit()">
    <formly-form [fields]="vehicleFields" [form]="vehicleForm" [model]="vehicleTemp">
    </formly-form>
    <input type="file" multiple="multiple" (change)="saveFile($event.target.files)">
    <div class="group">
        <button type="submit" class="button" mat-raised-button color="primary" [disabled]="!vehicleForm.valid">
            Dodaj
        </button>
    </div>
</form>
<div *ngIf="errorMessage$ | async as errorMessage">
    <span translate [translateParams]="{value: vehicleTemp.numberPlate}">{{errorMessage}}</span>
</div>