<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a *ngIf="!(token$ | async)" mat-list-item routerLink="/login">{{'menu.login'|translate}}</a>
      <a *ngIf="(token$ | async)" mat-list-item (click)="logout()">
        {{"menu.logout" | translate}}
      </a>
      <a *ngIf="(token$ | async)" mat-list-item routerLink="/change-password">Zmien
        hasło</a>
      <hr>
      <a *ngIf="currentUser && currentUser.roles && currentUser.roles != 0" mat-list-item
        routerLink="/panel">{{'menu.dashboard'|translate}}</a>
      <hr>
      <a *ngIf="currentUser && currentUser.roles && currentUser.roles != 0" mat-list-item
        routerLink="/parts">{{'menu.parts'|translate}}</a>
      <a *ngIf="currentUser && currentUser.roles && currentUser.roles != 0" mat-list-item
        routerLink="/job">{{"menu.addService" | translate}}</a>
      <a *ngIf="currentUser && currentUser.roles && currentUser.roles != 0" mat-list-item
        routerLink="/service-car">{{"menu.service" | translate}}</a>
    </mat-nav-list>
    <hr>
    <mat-accordion *ngIf="user$ | async as user">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{user.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span>Posiadane role: </span>
        <ul *ngFor="let role of user.roles">
          <li> {{ role.name | translate }} </li>
        </ul>
        <span>{{"menu.information" | translate}} </span>
        <ul>
          <li>{{"menu.emial" | translate}} {{user.email}}</li>
          <li>{{"menu.name" | translate}} {{user.name}}</li>
          <li>{{"menu.surname" | translate}} {{user.surname}}</li>
        </ul>
        <a routerLink="/web-socket">web socket</a>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- <span *ngIf="user$ | async as user">
      {{user.name}}
      <span> posiadane role:</span>
      <ul *ngFor="let role of user.roles">
        <li> {{ role.name | translate }} </li>
      </ul>
    </span> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button (click)="!drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="margin"> Menu</span>

      <span class="space">
      </span>
      <div>
        <mat-form-field>
          <mat-select [(value)]="selectedLanguage">
            <mat-option value="pl" (click)="useLanguage('pl')">
              <span>
                Polski
              </span>
            </mat-option>
            <mat-option value="en" (click)="useLanguage('en')">
              <span>
                English
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>